{% extends 'layout.html' %}
{%block content %}
    <h1> COMP3161 PROJECT </h1>

    <P> <h4>This project is a collaboration of the different  attributes involved in Database Management. 
    It is a representation how developers  interact with system , by creating and managing databases. 
    This development makes it posible for users to create ,delete,read and update data within a database.</H4> </P>

        <h2>GROUP MEMBERS:</h2>
        <H4>GARFIELD GRANT              </H4>
        <H4>KRIZANNA SQUIRE             </H4>
        <H4>PAUL TYRELL                 </H4>
        <H4>NAKEEM MCNALLY              </H4>

{%endblock  content%}

